.window-container{
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
	position:fixed;
	top:0;
	left:0px;
	height:100%;
	width:100%;
	transform:translateY(calc(-100% - 6px));
	background:white;
	color:#565656;
	box-shadow:3px 3px 3px RGBA(0,0,0,.3);
	overflow:auto;
}

.window-container .row.share-buttons {
	padding:0px 15px;
}

.window-container .share-buttons .col-xs-3 span:hover{
	opacity:.9;
}

.window-container .share-buttons .col-xs-3 {
	padding:0px;
}

.window-container .share-buttons .col-xs-3 span{
	padding:15px;
	width:100%;
	color:white;
	cursor:pointer;
}

.window-container .share-buttons .fa-google-plus{
	background: #dd4b39;
}
.window-container .share-buttons .fa-facebook{
	background:	#8b9dc3;
}

.window-container .share-buttons .fa-linkedin{
	background:	#0077b5;
}

.window-container .share-buttons .fa-twitter{
	background:	#55acee;
}
.window-container .row {
	padding:0px 15px;
}


.window-container .window-img{
	width:100%;
	padding:0px 15px;
}

.window-container .container {
	width:100%;
}

.btn-group .btn.active, .btn-group .btn:focus{
	background:#eee;
	outline:none;
	border-color:#ddd;
	color:#282828;
	box-shadow:none;
}

.btn-group .btn:hover{
	background:#eee;
}
.btn-group .btn {
	border-radius:0px;
	border:1px solid #ddd;
	color:#565656;
}

.btn {
	background:white;
	border-radius:0px;
}

.window-container h2, .window-container h3{	
	text-align:center;
	padding:0px 15px;
}

.window-container .form-container {
	background:none;
	margin:0px;
	text-align:left;
	padding:0px;
}

.window-container .form-container .btn.submit-form {
	padding:10px 30px;
	float:right;
}

.window-container.active{
	transform:translateY(0px);
}

.close:hover{
	color:#ddd;
}
.close {
	z-index:10000;
	position:absolute;
	top:0px;
	right:0px;
	padding:10px;
	font-size:30px;
	cursor:pointer;
	color:#bbb;
	font-weight:bold;
}

.window-container > div{
	position:absolute;
	display:inline-block;
}

.block-top-left{
	top:0px;
	left:50%;
	width:100%;
	height:50%;
}

.block-top-right{
	top:0px;
	left:0px;
	width:50%;
	height:100%;
}

.block-bottom-left{
	top:50%;
	left:0px;
	top:50%;
	width:100%;
	height:50%;
}

.block-bottom-right{
	top:50%;	
	width:50%;
	height:100%;
}

